/* Layout for #home section */
#home {
  margin-top: 300px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

/* Typewriter animation */
.typewriter {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 3.5rem;
  width: 0;
  max-width: 100%;
  animation: typing 1s steps(13, end) forwards;
}
span {
  color: rgb(183, 222, 25);
}
@keyframes typing {
  from { width: 0 }
  to { width: 13ch }
}
/* Responsive Layout */
@media (max-width: 1024px) {
  .typewriter {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .typewriter {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .typewriter {
    font-size: 2rem;
  }
}
